
body {
  display: flex;
  min-width: 1300px;
  margin: 0 8px;
}

table {
  border-collapse: collapse;
}

th, td {
  padding: 5px;
  border: 1px solid black;
}

ul {
  list-style-type: none;
}

.notapplicable {
  background-color: #dddddd;
}

.selected {
  background-color: skyblue;
}

.clickable:hover {
  cursor: pointer;
  color: blue;
}

div.table {
  min-width: 800px;
  margin-right: 50px;
  margin-bottom: 30px;
}

#border {
  width: 8px;
  background-color: navy;
}

#methodcolumn {
  padding: 10px;
  width: 400px;
}

#methodcontainer {
  position: fixed;
  max-height: 600px;
  overflow: scroll;
}

#methodcontainer h4 {
  margin-left: 40px;
}
